@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    /**
     * colors
     */
  
    --light-steel-blue: hsl(218, 33%, 77%);
    --royal-blue-light: hsl(225, 68%, 53%);
    --flickr-blue_30: hsla(225, 68%, 53%, 0.3);
    --carolina-blue: hsl(201, 92%, 47%);
    --oxford-blue-1: hsl(218, 70%, 18%);
    --oxford-blue-2: hsl(217, 100%, 12%);
    --oxford-blue-3: hsl(218, 71%, 11%);
    --gainsboro_50: hsla(0, 0%, 85%, 0.5);
    --lavender-web: hsl(225, 67%, 91%);
    --sonic-silver: hsl(0, 0%, 47%);
    --light-gray: hsl(0, 0%, 84%);
    --cultured: hsl(0, 0%, 97%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_8: hsla(0, 0%, 0%, 0.08);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --jet: hsl(0, 0%, 20%);
  
    /**
     * gradient color
     */
  
    --gradient: linear-gradient( 90deg, var(--carolina-blue) 0%, var(--royal-blue-light) 100%);
  
    /**
     * typography
     */
  
    --ff-roboto: "Open Sans", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
  
    --fs-1: 4rem;
    --fs-2: 3.6rem;
    --fs-3: 3.2rem;
    --fs-4: 2.4rem;
    --fs-5: 2.2rem;
    --fs-6: 1.8rem;
    --fs-7: 1.6rem;
  
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
  
    /**
     * spacing
     */
  
    --section-padding: 120px;
  
    /**
     * shadow
     */
  
    --shadow-1: 4px 4px 15px var(--black_10);
    --shadow-2: 0 10px 15px var(--black_10);
    --shadow-3: 0px 20px 60px var(--black_8);
    --shadow-4: 0px 10px 30px var(--flickr-blue_30);
    --shadow-5: 0px 2px 60px 0px var(--black_10);
  
    /**
     * border radius
     */
  
    --radius-6: 6px;
    --radius-4: 4px;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }
  
  
  *,
  ::before,
  ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li{
    list-style: none;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }

  img{
    height: auto;
  }
  
  a,
  img,
  span,
  input,
  ion-icon{
    display: block;
  }

  button{
    cursor: pointer;
  }

  ion-icon{
    pointer-events: none;

  }

  html{
    font-family: var(--ff-roboto);
    font-size: 10px;
    scroll-behavior: smooth;
  }

  body{
    background-color: var(--white);
    color: var(--sonic-silver);
    font-size: 1.5rem;
    height: 300vh;
  }
  .container { padding-inline: 25px; }
  .section { padding-block: var(--section-padding); }

  .section-subtitle {
    color: var(--royal-blue-light);
    font-family: var(--ff-poppins);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    margin-block-end: 10px;
  }
  .btn {
    background-image: linear-gradient( var(--deg, 90deg), var(--carolina-blue) 0%, var(--royal-blue-light) 100%);
    color: var(--white);
    font-size: var(--fs-7);
    text-transform: uppercase;
    padding: 20px 30px;
    text-align: center;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-4);
  }
  
  .btn:is(:hover, :focus) { --deg: -90deg; }
  
.h1,
.h2,
.h3 {
  font-family: var(--ff-poppins);
  line-height: 1.2;
}

.h1 {
  color: var(--oxford-blue-1);
  font-size: var(--fs-2);
}

.w-100 { width: 100%; }
/*-----------------------------------*\
  #HEDER
\*-----------------------------------*/

.header-top,
.header-bottom .btn { display: none; }

.header-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 15px;
  z-index: 4;
}

.header-bottom.active {
  position: fixed;
  top: -90px;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  animation: slideIn 0.5s var(--cubic-out) forwards;
}

@keyframes slideIn {
  0% { transform: translateY(0); }
  100% { transform: translateY(100%); }
}

.header-bottom > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo {
  color: var(--oxford-blue-1);
  font-family: var(--ff-poppins);
  font-size: 3.4rem;
  font-weight: var(--fw-800);
  margin-left: 10px;
}

.nav-toggle-btn {
  font-size: 30px;
  padding: 5px ;
  margin-right: 10px;
  background-color: var(--white);
  border: none;
}

.nav-toggle-btn.active .menu-icon,
.nav-toggle-btn .close-icon { display: none; }

.nav-toggle-btn .menu-icon,
.nav-toggle-btn.active .close-icon { display: block; }

.navbar {
  position: absolute;
  top: calc(100% + 5px);
  left: 25px;
  right: 25px;
  background-color: var(--white);
  padding-inline: 0;
  box-shadow: var(--shadow-1);
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  max-height: 244px;
  transition-duration: 0.5s;
}

.navbar-list > li:not(:last-child) { border-block-end: 1px solid var(--gainsboro_50); }

.navbar-link {
  color: var(--jet);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  padding: 15px;
}


   /**
 * responsive for larger than 992px screen
 */

 @media (min-width: 992px) {

    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-2: 6rem;
      --fs-1: 4.6rem;
      --fs-3: 4.6rem;
  
    }
  

  
  
    /**
     * HEADER
     */
  
    .header-top {
      display: block;
      background-color: var(--oxford-blue-1);
      color: var(--white);
      padding-block: 20px;
    }
  
    .header-top :is(.container, .social-list),
    .contact-list,
    .contact-item {
      display: flex;
      align-items: center;
    }
  
    .header-top .container { justify-content: space-around; }
  
    .contact-list { gap: 20px; }
  
    .contact-item { gap: 5px; }
  
    .contact-item ion-icon {
      color: var(--royal-blue-light);
      --ionicon-stroke-width: 40px;
    }
  
    .contact-link { font-size: 1.5rem; }
  
    .header-top .social-list { gap: 15px; }
  
    .header-top .social-link {
      font-size: var(--fs-6);
      transition: var(--transition);
    }
  
    .header-top .social-link:is(:hover, :focus) { color: var(--royal-blue-light); }
  
    .header-bottom {
      top: 54px;
      padding-block: 18px;
      padding-inline: 20px;
    }
    
    .nav-toggle-btn { display: none; }
  
    .navbar,
    .navbar.active {
      all: unset;
      margin-inline-start: auto;
    }
  
    .navbar-list {
      display: flex;
      align-items: center;
    }
  
    .navbar-list > li:not(:last-child) { border-block-end: none; }
  
    .navbar-link {
      color: var(--oxford-blue-1);
      font-family: var(--ff-poppins);
      text-transform: capitalize;
      transition: var(--transition);
    }
  
    .navbar-link:is(:hover, :focus) { color: var(--royal-blue-light); }
  
    .header-bottom .btn {
      display: block;
      padding: 15px 20px;
    }
   
 }  


.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block-end: calc(var(--section-padding) / 2);
}

.hero-content { margin-block-end: 30px; }

.hero-title { margin-block: 15px 30px; }

.hero-text {
  font-size: var(--fs-6);
  line-height: 1.45;
  margin-block-end: 40px;
}

.hero-form {
  background-color: var(--white);
  max-width: 95%;
  padding: 15px;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-3);
}

.hero-form .email-field {
  background-color: var(--cultured);
  color: var(--black);
  min-height: 70px;
  padding-inline: 15px;
  border-radius: var(--radius-4);
  margin-block-end: 15px;
  border: none;
}

.hero-form .btn { border: none; }



/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--royal-blue-light);
  font-size: 18px;
  color: var(--white);
  padding: 14px;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.back-top-btn.active {
  transform: translateY(-10px);
  visibility: visible;
  opacity: 1;
}



@media (min-width: 768px) {
  * CUSTOM PROPERTY
  */

 :root {

   /**
    * typography
    */

   --fs-2: 4.8rem;

 }



 /**
  * HERO
  */

 .hero { overflow: hidden; }

 .hero .container {
   display: grid;
   grid-template-columns: 1fr 0.75fr;
   align-items: center;
   gap: 20px;
 }

 .hero-content { margin-block-end: 0; }

 .hero-form { position: relative; }

 .hero-form .email-field {
   margin-block-end: 0;
   padding-inline-end: 190px;
 }

 .hero-form .btn {
   width: auto;
   position: absolute;
   top: 15px;
   right: 15px;
   bottom: 15px;
   border:none;
 }



 .back-top-btn {
  bottom: 70px;
  right: 50px;
}
}


